<div class="row financial_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                {{#if (isEquals viewType 'player') }}
                <span class="pull-left" style="margin-right: 10px;">
                    <button type="button" class="btn btn-white pull-right" id="daterange-btn">
                        <span class="filter_date">{{#if date}}{{date}}{{else}}Any Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                    </button>
                </span>

                <span class="pull-left selectbox" style="margin-right: 10px;">
                    <select class="form-control select2 realSelectBox">
                        <option selected="selected">Any Agent</option>
                        {{#each agent_list}}
                            <option value="{{this.code}}">
                                {{IndentWithLetter layer '--'}} {{this.code}}
                            </option>
                        {{/each}}
                    </select>
                </span>

                <input type="text" class="form-control nickname pull-left" name="nickname" placeholder="Username/Nickname" />
                {{/if}}

                {{#if (isEquals viewType 'agent') }}
                <span class="pull-left" style="margin-right: 10px;">
                    <button type="button" class="btn btn-white pull-right" id="daterange-btn">
                        <span class="filter_date">{{#if date}}{{date}}{{else}}Any Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                    </button>
                </span>
                {{/if}}

                {{#if (isEquals viewType 'day') }}
                <span class="pull-left" style="margin-right: 10px;">
                    <button type="button" class="btn btn-white pull-right" id="daterange-btn">
                        <span class="filter_date">{{#if date}}{{date}}{{else}}Any Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                    </button>
                </span>
                {{/if}}


                <a href="/report/game" class="btn btn-info btn-clear"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>
                <a href="#" class="btn btn-default pull-right btn_download_csv_financial" download="financial_info.csv">
                    <i class="fa fa-download"></i>&nbsp;&nbsp; CSV
                </a>

                <form action="/report/financial" method="get" class="blind frm_search">
                    <input type="hidden" name="startDt" id="startDt" />
                    <input type="hidden" name="endDt" id="endDt" />
                    <input type="hidden" name="viewType" value="{{viewType}}" class="viewType" />
                </form>

                <div class="select_view_type">
                    <div class="btn-group" role="group" aria-label="view type">
                        <a href="/report/financial?viewType=player" class="btn {{#if (isEquals viewType 'player') }}btn-success{{else}}btn-white{{/if}}">Per Player</a>
                        <a href="/report/financial?viewType=agent" class="btn {{#if (isEquals viewType 'agent') }}btn-success{{else}}btn-white{{/if}}">Per Agent</a>
                        <a href="/report/financial?viewType=day" class="btn {{#if (isEquals viewType 'day') }}btn-success{{else}}btn-white{{/if}}">Per Day</a>
                    </div>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{#if (isEquals viewType 'player') }}
                <table id="table_financial" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th rowspan="2" class="center">Username</th>
                        <th rowspan="2" class="center">Nickname</th>
                        <th rowspan="2" class="center">Agent</th>
                        <th colspan="3" class="center">A2P(Chip)</th>
                        <th class="center">Payment</th>
                        <th class="center" rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby(Charge)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr>
                            <td align="center"><strong {{#if banned}}class="text-red"{{/if}}>{{username}}</strong></td>
                            <td align="center">{{nickname}}</td>
                            <td align="center">{{agent}}</td>
                            <td align="right">{{comma-number credit}}</td>
                            <td align="right">{{comma-number debit}}</td>
                            <td align="right">
                            {{#if (checkMinus (totalCredit credit debit) )}}
                                <span class="text-red">{{comma-number (totalCredit credit debit) }}</span>
                            {{else}}
                                <span class="text-default">{{comma-number (totalCredit credit debit) }}</span>
                            {{/if}}
                            </td>
                            {{#if (isEmpty ruby) }}
                            <td align="center">-</td>
                            {{else}}
                            <td align="right">{{ruby}}</td>
                            {{/if}}
                            <td align="center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm {{#if banned}}disabled{{/if}}">Action</button>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle btn-dropdown-action" data-toggle="dropdown" data-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left:-90px;">
                                        {{#if banned}}
                                            <li><a href="#" class="set-suspend" onclick="utils.suspendPlayer(this)" data-user-id="{{username}}" data-suspend="0"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Suspend</a></li>
                                        {{else}}
                                        <li><a href="#" onclick="utils.showModal(this)" data-user-id ="{{username}}" data-balance="{{balance}}" data-modal-id="modal_credit_to_player"><i class="fa fa-plus" aria-hidden="true"></i> Credit</a></li>
                                        <li><a href="#" onclick="utils.showModal(this)" data-user-id ="{{username}}" data-balance="{{balance}}" data-modal-id="modal_debit_to_player"><i class="fa fa-minus" aria-hidden="true"></i> Debit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="utils.openPopWindow(this,'/players/history?username={{username}}', 'Players');"><i class="fa fa-history" aria-hidden="true"></i> Balance History</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" class="set-user-password" onclick="utils.showModal(this)" data-user-id="{{username}}" data-modal-id="setPlayerPassword"><i class="fa fa-key" aria-hidden="true"></i>Change Password</a></li>
                                        <!--<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit info.</a></li>-->
                                        <li class="divider"></li>
                                        <li><a href="#" class="set-suspend" onclick="utils.suspendPlayer(this)" data-user-id="{{username}}" data-suspend="1"><i class="fa fa-ban" aria-hidden="true"></i> Suspend</a></li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="2" class="center">Username</th>
                        <th rowspan="2" class="center">Nickname</th>
                        <th rowspan="2" class="center">Agent</th>
                        <th colspan="3" class="center">A2P(Chip)</th>
                        <th class="center">Payment</th>
                        <th class="center" rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby(Charge)</th>
                    </tr>
                    </tfoot>
                </table>
                {{/if}}
                {{#if (isEquals viewType 'agent') }}
                <table id="table_financial" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th rowspan="2" class="center">Agent</th>
                        <th colspan="3" class="center">A2P</th>
                        <th  class="center">payment</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                    <tr>
                        <td class="center">{{agent}}</td>
                        <td class="right">{{comma-number credit}}</td>
                        <td class="right">{{comma-number debit}}</td>
                        <td class="right">
                        {{#if (checkMinus (totalCredit credit debit) )}}
                            <span class="text-red">{{comma-number (totalCredit credit debit) }}</span>
                        {{else}}
                            <span class="text-default">{{comma-number (totalCredit credit debit) }}</span>
                        {{/if}}
                        </td>
                        <td class="right">{{comma-number ruby}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="2" class="center">Agent</th>
                        <th colspan="3" class="center">A2P</th>
                        <th class="center">payment</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby</th>
                    </tr>
                    </tfoot>
                </table>
                {{/if}}
                {{#if (isEquals viewType 'day') }}
                <table id="table_financial" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th rowspan="2" class="center">Date</th>
                        <th colspan="3" class="center">A2P</th>
                        <th class="center">Payment</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                    <tr>
                        <td class="center">{{time date}}</td>
                        <td class="right">{{comma-number credit}}</td>
                        <td class="right">{{comma-number debit}}</td>
                        <td class="right">
                        {{#if (checkMinus (totalCredit credit debit) )}}
                            <span class="text-red">{{comma-number (totalCredit credit debit) }}</span>
                        {{else}}
                            <span class="text-default">{{comma-number (totalCredit credit debit) }}</span>
                        {{/if}}
                        </td>
                        <td class="right">{{comma-number ruby}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th rowspan="2" class="center">Date</th>
                        <th colspan="3" class="center">A2P</th>
                        <th class="center">Payment</th>
                    </tr>
                    <tr>
                        <th class="center">Credit</th>
                        <th class="center">Debit</th>
                        <th class="center">Total</th>
                        <th class="center">Ruby</th>
                    </tr>
                    </tfoot>
                </table>
                {{/if}}

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!--Modal-->
{{>modal_credit_to_player}}
{{>modal_debit_to_player}}
{{>modal_player_change_password}}
<!--/Modal-->

