<div class="row home_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                {{#if (isEquals current_path 'Agent Balance History') }}
                <form action="/agents/history" method="get" class="filterWithDate">
                {{else}}
                <form action="/home" method="get" class="filterWithDate">
                {{/if}}
                    <span class="pull-left">
                        <button type="button" class="btn btn-white pull-right" id="daterange-btn">
                            <span class="filter_date">{{#if date}}{{date}}{{else}}Any Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                        </button>
                    </span>
                    {{#unless (isEquals current_path 'Agent Balance History') }}
                    <span class="pull-left selectbox" style="margin-left: 10px;">
                        <select class="form-control select2 realSelectBox">
                            <option selected="selected">Any Type</option>
                            <option>A2A</option>
                            <option>A2P</option>
                            <!--<option>Reconciliation</option>-->
                            <!--<option>Promotion</option>-->
                            <!--<option>Rakeback/Cashback</option>-->
                            <!--<option>ETC.</option>-->
                        </select>
                    </span>
                    {{/unless}}
                    <a href="/home" class="btn btn-info btn-clear"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>
                    <a href="#" class="btn btn-default pull-right btn_download_csv_home" download="agent_info.csv">
                        <i class="fa fa-download"></i>&nbsp;&nbsp; CSV
                    </a>
                    <input type="hidden" name="startDate" id="startDate" value="{{startDt}}" />
                    <input type="hidden" name="endDate" id="endDate" value="{{endDt}}" />
                    <input type="hidden" name="agentName" id="agentName" value="{{agentName}}" />
                </form>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_home" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">Date</th>
                        <th class="center">Type</th>
                        <th class="center">Amount(Chip)</th>
                        <th class="center">Balance(Chip)</th>
                        <th class="center">Desc.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                    <tr>
                        <td align="center">{{stime this.date}}</td>
                        <!--<td align="center">{{!date}}</td>-->
                        <td align="center">{{this.type}}</td>
                        <td align="right">
                            <span {{#if (checkMinus this.amount)}}class="text-red"{{/if}}>{{comma-number this.amount}}</span>
                        </td>
                        <td align="right">
                            <span {{#if (checkMinus this.balance)}}class="text-red"{{/if}}>{{comma-number this.balance}}</span>
                        </td>
                        <td align="right">
                            {{#unless (isEmpty target_player_id) }} <a href="#none">{{target_player_id}} &nbsp;<span class="badge bg-light-blue">P</span></a> {{/unless}}
                            {{#unless (isEmpty target_agent_id) }} <a href="#none">{{target_agent_id}} &nbsp;<span class="badge bg-green">A</span></a> {{/unless}}&nbsp;&nbsp;
                            {{#unless (isEmpty memo)}}
                            <a href="#none" data-toggle="tooltip" data-placement="bottom" title="{{memo}}" class="memo">Memo.</a>
                            {{/unless}}
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <!--<th class="center">Date</th>-->
                        <!--<th class="center">Type</th>-->
                        <th colspan="2" class="center">Total</th>
                        <th class="center">Amount(Chip)</th>
                        <th class="center">Balance(Chip)</th>
                        <th class="center">Desc.</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

