<div class="row player_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <input type="text" class="form-control nickname pull-left" name="nickname" placeholder="Username/Nickname" />
                <span class="pull-left selectbox" style="margin-left: 10px;">
                    <select class="form-control select2 realSelectBox">
                        <option selected="selected">Any Agent</option>
                        {{#each agent_list}}
                        <option value="{{this.code}}">
                        {{IndentWithLetter layer '--'}} {{this.code}}
                        </option>
                        {{/each}}
                    </select>
                </span>

                <!--<span class="pull-left">-->
                <!--<button type="button" class="btn btn-white pull-right" id="daterange-btn">-->
                <!--<span class="filter_date">{{#if date}}{{date}}{{else}}Any Signup Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>-->
                <!--</button>-->
                <!--</span>-->

                <a href="/players" class="btn btn-info btn-clear"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>

                <a href="#" class="btn btn-default pull-right btn_download_csv_player" download="agent_info.csv">
                    <i class="fa fa-download"></i>&nbsp;&nbsp; CSV
                </a>
                <a href="#" class="btn btn-success pull-right "  data-toggle="modal" data-target="#createPlayer" style="margin-right: 10px;">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp; Create Player
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_player" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">Username</th>
                        <th class="center">Nickname</th>
                        <th class="center">Agent</th>
                        <th class="center">LastGameLogin</th>
                        <th class="center">SignUp</th>
                        <th class="center">Suspended</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr data-ban="{{banned}}">
                            <td align="center"><strong {{#if banned}}class="text-red"{{/if}}>{{user_id}}</strong></td>
                            <td align="center">{{nickname}}</td>
                            <td align="center">{{market_code}}</td>
                            <td align="center">{{time last_login_dt}}</td>
                            <td align="center">{{time signup_dt}}</td>
                            <td align="center">
                            {{#if banned}}
                            True &nbsp;&nbsp;<i class="fa fa-exclamation-circle text-red" aria-hidden="true"></i>
                            {{else}}
                            False
                            {{/if}}
                            </td>
                            <td align="center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm {{#if banned}}disabled{{/if}}">Action</button>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle btn-dropdown-action " data-toggle="dropdown" data-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left:-90px;">
                                        {{#if banned}}
                                            <li><a href="#" class="set-suspend" onclick="utils.suspendPlayer(this)" data-user-id="{{user_id}}" data-suspend="0"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Suspend</a></li>
                                        {{else}}
                                        <li><a href="#" onclick="utils.showModal(this)" data-user-id ="{{user_id}}" data-balance="{{balance}}" data-modal-id="modal_credit_to_player"><i class="fa fa-plus" aria-hidden="true"></i> Credit</a></li>
                                        <li><a href="#" onclick="utils.showModal(this)" data-user-id ="{{user_id}}" data-balance="{{balance}}" data-modal-id="modal_debit_to_player"><i class="fa fa-minus" aria-hidden="true"></i> Debit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="utils.openPopWindow(this,'/players/history?username={{user_id}}', 'Players');"><i class="fa fa-history" aria-hidden="true"></i> Balance History</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" class="set-agent-password" onclick="utils.showModal(this)" data-user-id="{{user_id}}" data-modal-id="setPlayerPassword"><i class="fa fa-key" aria-hidden="true"></i>Change Password</a></li>
                                        <!--<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit info.</a></li>-->
                                        <li class="divider"></li>
                                        <li><a href="#" class="set-suspend" onclick="utils.suspendPlayer(this)" data-user-id="{{user_id}}" data-suspend="1"><i class="fa fa-ban" aria-hidden="true"></i> Suspend</a></li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="center">Username</th>
                        <th class="center">Nickname</th>
                        <th class="center">Agent</th>
                        <th class="center">LastGameLogin</th>
                        <th class="center">Signup</th>
                        <th class="center">Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- modal for create player -->
{{>modal_player_create}}
{{>modal_credit_to_player}}
{{>modal_debit_to_player}}
{{>modal_player_change_password}}
<!-- // modal for create player -->