<div class="row agent_section">
    <div class="col-xs-12">
        <div class="box">
            {{#if agent_list}}
            <div class="box-header">
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#createAgent">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                    Create Agent
                </button>
                <!--<button class="btn btn-danger">test</button>-->
            </div>
            {{/if}}
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_agent" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="center">Agent</th>
                        <th class="center">Balance(Chip)</th>
                        <th class="center">players</th>
                        <th class="center">Suspended</th>
                        <th class="center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each agent_list}}
                        <tr>
                            <td align="left">
                                {{IndentWithLetter layer '---'}}
                                <strong {{#if suspend}}class="text-red"{{/if}}>{{code}}</strong>
                            </td>
                            <td align="right">
                                <span {{!#if (checkMinus this.balance)}}class="_text-red"{{!/if}}>{{comma-number this.balance}}</span>
                            </td>
                            <td align="right">{{comma-number player_count}}</td>
                            <td align="center">
                                {{#if suspend}}
                                    True &nbsp;&nbsp;<i class="fa fa-exclamation-circle text-red" aria-hidden="true"></i>
                                {{else}}
                                    False
                                {{/if}}
                            </td>
                            <td align="center">
                                {{#unless (isEquals ../loggedIn.agent code)}}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm {{#if suspend}}disabled{{/if}}">Action</button>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle btn-dropdown-action" data-toggle="dropdown" data-agent-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left:-90px;">
                                      {{#if suspend}}
                                      <li><a href="#" class="set-suspend" onclick="utils.suspendAgent(this)" data-agent-code="{{code}}" data-suspend="0"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Suspend</a></li>
                                      {{else}}
                                      <li><a href="#" class="_credit-to" onclick="utils.showModalAgent(this)" data-agent-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}" data-modal-id="modal_credit_to"><i class="fa fa-plus" aria-hidden="true"></i> Credit</a></li>
                                      <li><a href="#" class="_debit-to" onclick="utils.showModalAgent(this)" data-agent-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}" data-modal-id="modal_debit_to"><i class="fa fa-minus" aria-hidden="true"></i> Debit</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#" onclick="utils.openPopWindow(this,'/agents/history?agentName={{code}}', 'Agents');"><i class="fa fa-history" aria-hidden="true"></i> Balance History</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#" class="set-agent-password" onclick="utils.showModalAgent(this)" data-agent-code="{{code}}" data-modal-id="setAgentPassword"><i class="fa fa-key" aria-hidden="true"></i>Change Password</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#" class="set-suspend" onclick="utils.suspendAgent(this)" data-agent-code="{{code}}" data-suspend="1"><i class="fa fa-ban" aria-hidden="true"></i> Suspend</a></li>
                                      {{/if}}
                                    </ul>
                                </div>
                                {{else}}-
                                {{/unless}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="center">Agent</th>
                        <th class="center">Balance(Chip)</th>
                        <th class="center">players</th>
                        <th class="center">Suspended</th>
                        <th class="center">Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- todo 이 히든값을 제거  -->
<input type="hidden" id="my_current_balance" value="{{loggedIn.balance}}" />

{{>modal_agent_create}}
{{>modal_credit_to}}
{{>modal_debit_to}}