<div class="right_col" id="body_event" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6 col-lg-6">
                        <h3>이벤트</h3>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="pull-right">
                            <button class="btn btn-success" data-toggle="modal" data-target="#registerEvent">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;이벤트 결과 등록
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    {{#each result}}
                        <div class="tile-stats col-md-8">
                            <div class="icon"><i class="fa fa-video-camera"></i></div>
                            <div class="count">{{title}}</div>


                            {{#if (isEquals status 'C')}}
                                <h3>완료된 이벤트입니다.</h3>
                            {{else if (isEquals status 'P')}}
                                <h3>진행중인 이벤트입니다.</h3>
                            {{else if (isEquals  status 'N')}}
                                <h3>준비중인 이벤트입니다.</h3>
                            {{/if}}
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-success btn-block btn-lg btn_event_result_register" {{#unless (isEquals  status 'P')}}disabled="disabled"{{/unless}} data-toggle="modal" data-target="#registerEvent" data-event-id="{{id}}">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;이벤트 결과 등록
                            </button>

                            <button class="btn btn-danger btn-block btn-lg btn_event_result_delete" {{#unless (isEquals  status 'C')}}disabled="disabled"{{/unless}}data-event-id="{{id}}">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>&nbsp;&nbsp;이벤트 결과 삭제
                            </button>
                        </div>
                    {{/each}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>

{{>modal_event_register}}