<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="Referrer" content="origin"/>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentallela Alela! | </title>


    <!-- Bootstrap -->
    <link href="/components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/components/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/components/gentelella/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/components/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/components/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/components/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/components/gentelella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/components/gentelella/build/css/custom.min.css" rel="stylesheet">


    <title>{{title}}</title>
</head>
<body class="nav-md {{current_path}}" id="body">

{{#unless (isEquals current_path 'login')}}
    <div class="container body">
        <div class="main_container">
            {{> left_nav}}
            {{> header}}
            {{{body}}}
            {{> footer}}
        </div>
    </div>
{{else}}
    {{{body}}}
{{/unless}}


<script src="/components/requirejs/require.js"></script>
<script src="/javascripts/app.js"></script>



<script src="/javascripts/{{current_path}}.js"></script>

<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/jquery/dist/jquery.min.js"></script>-->
<!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; FastClick &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/fastclick/lib/fastclick.js"></script>-->
<!--&lt;!&ndash; NProgress &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/nprogress/nprogress.js"></script>-->
<!--&lt;!&ndash; Chart.js &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>-->
<!--&lt;!&ndash; gauge.js &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/gauge.js/dist/gauge.min.js"></script>-->
<!--&lt;!&ndash; bootstrap-progressbar &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>-->
<!--&lt;!&ndash; iCheck &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/iCheck/icheck.min.js"></script>-->
<!--&lt;!&ndash; Skycons &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/skycons/skycons.js"></script>-->
<!--&lt;!&ndash; Flot &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/Flot/jquery.flot.js"></script>-->
<!--<script src="/components/gentelella/vendors/Flot/jquery.flot.pie.js"></script>-->
<!--<script src="/components/gentelella/vendors/Flot/jquery.flot.time.js"></script>-->
<!--<script src="/components/gentelella/vendors/Flot/jquery.flot.stack.js"></script>-->
<!--<script src="/components/gentelella/vendors/Flot/jquery.flot.resize.js"></script>-->
<!--&lt;!&ndash; Flot plugins &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>-->
<!--<script src="/components/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>-->
<!--<script src="/components/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>-->
<!--&lt;!&ndash; DateJS &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/DateJS/build/date.js"></script>-->
<!--&lt;!&ndash; JQVMap &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>-->
<!--<script src="/components/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->
<!--<script src="/components/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!--&lt;!&ndash; bootstrap-daterangepicker &ndash;&gt;-->
<!--<script src="/components/gentelella/vendors/moment/min/moment.min.js"></script>-->
<!--<script src="/components/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>-->

<!--&lt;!&ndash; Custom Theme Scripts &ndash;&gt;-->
<!--<script src="/components/gentelella/build/js/custom.min.js"></script>-->


</body>
</html>