<ul>
    {{#each videos}}
    <li>
        <a href="#">
            <img src="{{../static}}channel/{{channel_id}}/{{video_id}}/thumbnail" alt="{{title}}" />
            <span>타이틀 : {{title}}</span><br />
            <span>조회수 : {{hits}}</span><br />
            <span>생성일 : {{created_dt}}</span>
        </a>
    </li>
    {{/each}}
</ul>