{{#each video}}
    title : {{title}}<br />
    channel_id : {{channel_id}}<br />
    video_id : {{video_id}}<br />
    link : {{link}}<br />
    type : {{type}}<br />
    hits : {{hits}}<br />
    created_dt : {{created_dt}}<br />
    active : {{active}}
{{/each}}


<hr />

<h3>비디오 리스트</h3>

{{#each videos}}
    title : {{title}}<br />
    channel_id : {{channel_id}}<br />
    video_id : {{video_id}}<br />
    link : {{link}}<br />
    type : {{type}}<br />
    hits : {{hits}}<br />
    created_dt : {{created_dt}}<br />
    active : {{active}}<br />
{{/each}}